* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans',Arial,sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4a4a4a;
  background-color: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: aquamarine;
}

.header__title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main {
  margin-top: 3rem;
}